/**
 * Based on Nova Theme by Tevor Miller (http://www.trevordmiller.com/nova/).
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #c5d4dd;
  background: none;
  font-family: 'Fira Mono', monospace;
  font-weight: 400;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.4;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection,
pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  background: #e6eef3;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1rem;
  margin: 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #3c4c55;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1rem;
  border-radius: .3rem;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6a7d89;
}

.token.punctuation {
  color: #f2c38f;
}

.namespace {
  opacity: .7;
}

.token.function,
.token.class-name,
.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #83afe5;
}

.token.number,
.token.boolean,
.token.regex,
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #7fc1ca;
}

.token.statement,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #dada93;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #a8ce93;
}

.token.important,
.token.variable {
  color: #d18ec2;
}

.token.global {
 color: #9a93e1;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
